*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}


.encabezado{
    padding: 24px;
    height: 150px;
    background-color: rgb(57, 58, 74);
    color: rgb(255, 255, 255);
    font-family: Ubuntu, sans-serif;
}

.img-logo{
    height: 80px;
}

button{
    margin: none;
    background-color: rgb(57, 58, 74);
    color: rgb(255, 255, 255);
    border: none;
}

.containerBanner{
    background-image: url("./images/imgbanner.jpg");
    height: 40rem;
    background-size: cover;
    background-attachment: fixed;
    background-position: 50%;
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    align-items: center;
    color: white;
}

.containerBanner h1{
    font-size: 64px;
}

.containerBanner .iconos{
    font-size: 22px;
    text-decoration: none;
}
.containerBanner .iconos a{  
color: white;
}

.containerFeatures h3, h4{
    display: flex;
    text-align: center;
    justify-content: center;
}

.containerFeatures h2{
    font-size: 20px;
    font-weight: bold;
}

.containerItems{
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 50px;
margin: 72px;
}


.containerItems article{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: white;
    width: 395px;
    height: 200px;
    border-radius: 6px;
    box-shadow: 0px 0px 25px 0 rgba(20, 27, 202, .17);
    position: relative;
    margin-bottom: 48px;
}
.containerItems img{
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translateX(-50%);
}
.containerItems p{
    width: 80%;
    margin: 0 auto;
    font-size: 17px;
}

.containerItems .celesteUno:hover{
    background: rgb(48,138,160);
    background: linear-gradient(90deg, rgba(48,138,160,1) 0%, rgba(38,69,122,1) 100%);
  cursor: pointer;
  color: white;
}

.containerItems .rojoDos:hover{
    background: rgb(254,5,89);
    background: linear-gradient(90deg, rgba(254,5,89,1) 0%, rgba(245,5,86,1) 100%);
  cursor: pointer;
  color: white;
}

.containerItems .azulTres:hover{
    background: rgb(52,43,236);
background: linear-gradient(90deg, rgba(52,43,236,1) 0%, rgba(65,147,247,1) 100%);
  cursor: pointer;
  color: white;
}

.containerItems .naranjaCuatro:hover{
    background: rgb(245,119,33);
    background: linear-gradient(90deg, rgba(245,119,33,1) 0%, rgba(253,171,59,1) 100%);
  cursor: pointer;
  color: white;
}

.containerItems .violetaCinco:hover{
    background: rgb(135,67,250);
background: linear-gradient(90deg, rgba(135,67,250,1) 0%, rgba(96,84,253,1) 100%);
  cursor: pointer;
  color: white;
}

.containerItems .verdeSeis:hover{
    background: rgb(40,194,140);
    background: linear-gradient(90deg, rgba(40,194,140,1) 0%, rgba(33,217,119,1) 100%);
  cursor: pointer;
  color: white;
}

#containerServices{
    background-color: #393b4a;
    padding: 2rem 1rem;
    color: white;
    width: 100%;
    justify-content: center;  
    color: white;
    gap: 2rem;
    justify-content: center;
}

    #containerServices img{
        width: 100%;
        border-radius: 35px;
    }

#containerServices2{
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: center;

}
    #containerServices2 .col{
        padding: 0% 2%;
    }


.subtitulo {
    width:35%;
    font-weight: 300;
    margin: 32px auto 16px;
    color: #87877d;
    font-size: 18px;
}

.containerNosotros{
    margin: 6rem 0;
    padding: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    text-align: center;
    background-color: #eff4f8;
}

.sobreNosotros{
    width: 391px;
    height: 593px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
background-color: white;
align-items: center;
}


.sobreNosotros  img{
    width: 192px;
border-radius: 100%;
text-align: center;
}

.nosotrosRedes{
    color: #393b4a;
    cursor:pointer;
}

.nosotrosRedes i:hover{
    color: black;
}
/* ============= */
.slide-1{
    background-image: url(./images/slide-1.jpg);
    background-size: cover;
   background-position: center center;
   background-attachment: fixed;
   height: 864px;
}

.slide-2{
    background-image: url(./images/slide-2.jpg);
    background-size: cover;
   background-position: center center;
   background-attachment: fixed;
   height: 864px;
}


.slide-3{
    background-image: url(./images/slide-3.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 864px;
}

.titulo{
   color: rgb(255, 255, 255);
   margin: auto;
   padding-top: 400px;
   position: relative; /* Agregamos la propiedad "position" para utilizar z-index */
   z-index: 1
}

.title{
    font-size: 3em;
    line-height: 1.2;
}

#Certificacion-Becas{
    height: auto;
    width: 90vw;
    margin: auto;
    background-color: #ffffff;
    justify-content: center;
    text-align: center;
    padding-bottom: 2%;
}
    #certificacion-parrafo{
        font-size: 22px;
        font-style: italic;
        padding-bottom: 2%;
    }
    #Certificacion-Becas iframe{
        width: 95%;
    }

#CertificacionInternacional { 
    height: auto;
    width: 100%;
    background-color: #393b4a;
    color: white;
    justify-content: center;
    background-image: url(/Arg-Programa-Integrador/images/div-gral-capacitacion-tres\ \(2\).jpg);   
    background-position: right;
    background-repeat:no-repeat;
    background-size: 100vw 15vw;
    text-shadow: #393b4a;
}
    #CertificacionInternacional  h2{
        padding-top: 3vw;
    }

    #CertificacionInternacional  p{
        padding-bottom: 3vw;
    } 

#nuestrosPartners {
    height: auto;
    width: 100%;
    background-color: #ffffff;
    justify-content: center;
    text-align: center;
    padding: 4% 0%;
}   
    #nuestrosPartners h2{

    }

#footer1{
    height: 300px;
    width: 100%;
    background-color: #393b4a;
    display: flex;
    justify-content: center;
    gap: 1rem;
    display: flex;
    text-align: center;
    color: white;
    position: relative;
}

    #contactofooter1{
        margin-top: 2%;
        text-align: center;
    }

#footer2{
    height: auto;
    width: 100%;
    background-color: #393b4a;
    display: flex;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    color: white;
}   
    #contactofooter2{
        /* asdas*/
    }

.bi {
    font-size: 30px;    
}

.bi-telephone-fill, .bi-envelope, .bi-geo-alt{
    color: hsl(69, 84%, 46%);
}

#footer3{
    height: 80px;
    width: 100%;
    background-color: #000000;
    color: white;
    
}

    #footer3-A {
        justify-content: center;
    
        padding-top: 2%;
    }

    #footer3-B {
        justify-content: right;
        padding-top: 2%;
    }
#navbarkcontainer{
    background-color: #393b4a;
}

#navbarkcontainer a{
    color: white;
}

a{
    color:chocolate;
}



