*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}


.encabezado{
    padding: 24px;
    height: 100px;
    background-color: rgb(57, 58, 74);
    color: rgb(255, 255, 255);
    font-family: Ubuntu, sans-serif;
}

.img-logo{
    height: 80px;
}

button{
    margin: none;
    background-color: rgb(57, 58, 74);
    color: rgb(255, 255, 255);
    border: none;
}