.containerBannerContacto{
    background-image: url("../images/div-gral-contacto.jpg");
    height: 127px;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    flex-direction: column  ;
    justify-content: center;
    /* align-items: center; */
    color: white;
    margin-top: 100px;
}

.tituloContacto{
    margin-left: 4em;
    font-size: 1.7em;
}

.list{
    background-color: rgb(57, 58, 74);
}

.ubicacion{
    font-size: 3em;
    color: aquamarine
}

.mensaje-error{
    color: red;
}
.campo-invalido{
    border: 1px red solid;
}
