<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="../node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css"
    />
    <script
      src="../node_modules/bootstrap/dist/js/bootstrap.min.js"
      defer
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      defer
    ></script>
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="./contacto.css" />
    <title>valposystems</title>
  </head>
  <body>
    <header>
      <div class="row">
        <!--a partir de acá está toda la barra de navegacion-->
        <nav
          class="navbar navbar-dark fixed-top navbar-expand-lg nav-underline"
          id="navbarkcontainer"
        >
          <!--quitando la clase, se puede modificar el color (clase bg-dark, etc)-->
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img
                src="../images/logo-Normal.png"
                alt="Logo"
                class="img-logo mx-5"
              />
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasNavbar"
              aria-controls="offcanvasNavbar"
              aria-label="Toggle navigation"
            >
              <a href="#" class="navbar-toggler-icon"></a>
            </button>
            <div
              class="offcanvas offcanvas-end"
              tabindex="-1"
              id="offcanvasNavbar"
              aria-labelledby="offcanvasNavbarLabel"
            >
              <div class="offcanvas-header" id="offcanvastittle">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="offcanvas"
                  aria-label="Close"
                ></button>
              </div>
              <div class="offcanvas-body" id="offcanvasbody">
                <ul
                  class="navbar-nav justify-content-end mx-2 flex-grow-1 pe-3"
                >
                  <li class="nav-item mx-5">
                    <a class="nav-link active" aria-current="page" href="#"
                      >Inicio</a
                    >
                  </li>

                  <li class="nav-item dropdown mx-5">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Conócenos
                    </a>
                    <ul class="dropdown-menu list">
                      <li>
                        <a class="dropdown-item" href="#">Quiénes somos</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          >Polítitca de calidad</a
                        >
                      </li>
                      <li><a class="dropdown-item" href="#">Clientes</a></li>
                      <li><a class="dropdown-item" href="#">Multimedia</a></li>
                    </ul>
                  </li>

                  <li class="nav-item dropdown mx-5">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Servicios TI
                    </a>
                    <ul class="dropdown-menu list">
                      <li><a class="dropdown-item" href="#">Servicios</a></li>
                      <li>
                        <a class="dropdown-item" href="#">Servicios AWS</a>
                      </li>
                      <li><a class="dropdown-item" href="#">Liferay</a></li>
                      <li>
                        <a class="dropdown-item" href="#"
                          >Catálogo de conocimientos</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          >Servicio en la nube</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          >Monitoreo de aplicaciones java</a
                        >
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Catálogo de cursos</a>
                      </li>
                    </ul>
                  </li>

                  <li class="nav-item mx-5">
                    <a class="nav-link" href="#">Noticias</a>
                  </li>

                  <li class="nav-item dropdown mx-5">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Capacitate con nosotros
                    </a>
                    <ul class="dropdown-menu list">
                      <li>
                        <a class="dropdown-item" href="#">Capacitacion</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Nuestros cursos</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#"
                          >Politica de calidad</a
                        >
                      </li>
                    </ul>
                  </li>

                  <li class="nav-item mx-5">
                    <a
                      class="nav-link"
                      href="#"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-expanded="false"
                    >
                      Contacto
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <!--final de la barra de navegación-->
    </header>
    <main>
      <!-- div con un background-img -->
      <div class="containerBannerContacto">
        <h1 class="tituloContacto">Contáctanos</h1>
      </div>
      <!-- Formulario de contacto -->
      <div class="row">
        <div class="col-md-6 col-12">
          <form action="" class="row">
            <h1 class="text-center">Formulario de contacto</h1>
            <p class="text-center">
              Deja tus datos y te contactaremos a la brevedad
            </p>
            <div class="">
              <div class="mb-6 md-6 row mb-4">
                <label for="nombre" class="col-12 col-md-12 ms-5">Nombre</label>
                <input class="col-10 col-md-6 ms-5" type="text" id="nombre" />
              </div>
              <div class="mb-3 row mb-4">
                <label class="col-12 col-md-12 ms-5" for="apellido"
                  >Apellido</label
                >
                <input class="col-10 col-md-6 ms-5" type="text" id="apellido" />
              </div>
              <div class="mb-3 row mb-4">
                <label class="col-12 col-md-12 ms-5" for="email">Email</label>
                <input class="col-10 col-md-6 ms-5" type="text" id="email" />
              </div>
              <div class="mb-3 row">
                <label class="col-10 ms-5" for="mensaje">Mensaje</label>
                <textarea class="col-10 col-md-6 ms-5" id="mensaje"></textarea>
              </div>
            </div>
          </form>
        </div>
        <!-- informacion de contacto -->
        <div class="col-12 col-md-6">
          <div class="col-12 col-md-12">
            <h1 class="text-center">Informacion</h1>
            <!-- Ubicacion -->
            <div class="row">
              <div
                class="col-6 col-md-6 d-flex justify-content-center align-items-center"
              >
                <i class="bi bi-geo-alt ubicacion"></i>
              </div>
              <div
                class="col-6 col-md-6 align-items-center justify-content-center"
              >
                <p>Huerfanos 863, Edificio España</p>
                <p>Oficina 612 | Santiago.</p>
                <p>Carrera 13 # 90-17</p>
                <p>Bogota Colombia</p>
              </div>
            </div>
          </div>
          <!-- Contacto -->
          <div>
            <i class="bi bi-envelope"></i>
            <p>contacto@valposystems.com</p>
          </div>
          <div>
            <i class="bi bi-telephone-fill"></i>
            <div>
              <p>+569 34567033 Chile</p>
              <p>(601) 7703279 Colombia</p>
            </div>
          </div>
          <!-- facebook -->
          <div>
            <i class="bi bi-facebook"></i>
            <p>/Valposystems</p>
          </div>
          <!-- instagram -->
          <div>
            <i class="bi bi-instagram"></i>
            <p>@ValpoSystems</p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
